<h1>Problem 1: Factorials using numpy</h1>
<li><b>prod</b> A numpy function that returns the product of all elements in an array
<li><b>cumprod</b> A numpy function on an ndarray of size n that returns an array of size n where each element i is the product of all elements from 0 to i

In [ ]:
"""
Replace pass with the code that uses ndarray, prod and cumprod 
to calculate the factorial of n

The function should take an integer as an argument and return an integer

"""
import numpy as np

def factorial(n):
  if ((int(n) and n>0) or (n==0)):
    return np.prod(np.arange(1,n+1))
  else: 
    None

factorial(6)

720

In [ ]:
"""
Replace pass with the code that uses ndarray, prod and cumprod to 
calculate the factorials of all values from 1 to n

The function should take an integer as an argument and return an ndarray
of size n 

"""

def all_factorials(n):
    return np.cumprod(np.arange(1,n+1))

all_factorials(6)

array([  1,   2,   6,  24, 120, 720])

<h1>Problem 2: Percent changes</h1>
Write a function that constructs an ndarray from data in a file and 
returns a 1-period percent change on an ndarray after removing any nan values. Your function must make use of the following functions:
<li>np.genfromtxt: https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.genfromtxt.html
<li>np.diff: https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.diff.html
<li>np.isnan: https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.isnan.html

<p>Test your function out using the attached apple.csv file. Your function can assume that the file structure is (date,price)

<p>Note that percent change is defined as (p(t)-p(t-1))/p(t-1)

<b>Example:</b><br>
If the data array is: np.array([1,2,np.NaN,4,8,np.NAN])
<br>
The output array should be<br>
array([ 1.,  1.,  1.])

In [ ]:
import pandas as pd
apple = pd.read_csv('apple.csv')
apple.head()

         Date  Adj Close
0  1980-12-12   0.421597
1  1980-12-15   0.399601
2  1980-12-16   0.370272
3  1980-12-17   0.379437
4  1980-12-18   0.390436

In [ ]:
def get_pct_changes(file_name):
  example = pd.read_csv(file_name).dropna()['Adj Close']
  return np.array(np.diff(example[~np.isnan(example)])/example[~np.isnan(example)][:-1])
get_pct_changes('apple.csv')

array([-0.05217305, -0.07339571,  0.02475207, ..., -0.00977899,
       -0.00882215,  0.01720356])

<h1>Problem 3: Pandas Grouping</h1>
Write a program that reads timeseries pricing data from a file into a pandas dataframe and then groups the data as follows:
<li>Adds a column, one-day percent change to the file 
<li>Groups the data into four categories:
<ul>
<li>"High+" if the percent change is greater than 2.5%
<li>"Low+" if the percent change is positive and less than or equal to 2.5% 
<li>"Low-" if the percent change is negative but greater than or equal to -2.5%
<li>"High-" if the percent change is less than -2.5%
</ul>
<li>Report the size and the mean of each of the groups

In [ ]:
datafile = "apple.csv"
import pandas as pd
df = pd.read_csv('apple.csv').dropna()

import datetime
def get_duration_between_transactions(filesname):
  examples = pd.read_csv(filesname).dropna()
  return [(datetime.datetime.strptime(examples['Date'].iloc[i],"%Y-%m-%d")-datetime.datetime.strptime(examples['Date'].iloc[i-1],"%Y-%m-%d")).total_seconds()/86400 for i in range(1,len(examples['Date']))]

In [ ]:
df['one-day percent change'] = np.insert(get_pct_changes(datafile)/get_duration_between_transactions(datafile),0,np.nan)
df

            Date   Adj Close  one-day percent change
0     1980-12-12    0.421597                     NaN
1     1980-12-15    0.399601               -0.017391
2     1980-12-16    0.370272               -0.073396
3     1980-12-17    0.379437                0.024752
4     1980-12-18    0.390436                0.028988
...          ...         ...                     ...
9273  2017-09-20  156.070007               -0.016758
9274  2017-09-21  153.389999               -0.017172
9275  2017-09-22  151.889999               -0.009779
9276  2017-09-25  150.550003               -0.002941
9277  2017-09-26  153.139999                0.017204

[9277 rows x 3 columns]

In [ ]:
Categories = []

for i in range(len(df)):
  if df['one-day percent change'].iloc[i]>2.5/100:
    Categories.append("High+")
  elif ((df['one-day percent change'].iloc[i]>0) and (df['one-day percent change'].iloc[i]<=2.5/100)):
    Categories.append("Low+")
  elif ((df['one-day percent change'].iloc[i]<0) and (df['one-day percent change'].iloc[i]>=-2.5/100)):
    Categories.append("Low-")
  elif df['one-day percent change'].iloc[i]<-2.5/100:
    Categories.append("High-")
  else:
    Categories.append(np.nan)

In [ ]:
df['Categories'] = Categories
df

            Date   Adj Close  one-day percent change Categories
0     1980-12-12    0.421597                     NaN        NaN
1     1980-12-15    0.399601               -0.017391       Low-
2     1980-12-16    0.370272               -0.073396      High-
3     1980-12-17    0.379437                0.024752       Low+
4     1980-12-18    0.390436                0.028988      High+
...          ...         ...                     ...        ...
9273  2017-09-20  156.070007               -0.016758       Low-
9274  2017-09-21  153.389999               -0.017172       Low-
9275  2017-09-22  151.889999               -0.009779       Low-
9276  2017-09-25  150.550003               -0.002941       Low-
9277  2017-09-26  153.139999                0.017204       Low+

[9277 rows x 4 columns]

In [ ]:
for category in df['Categories'].unique()[1:]:
  print(f'Size of category {category}:',len(df[df['Categories']==category]))
  print(f'Mean one-day percentage change of category {category}:',df[df['Categories']==category]['one-day percent change'].mean())

Size of category Low-: 3379
Mean one-day percentage change of category Low-: -0.00983637497093439
Size of category High-: 971
Mean one-day percentage change of category High-: -0.04396211155099336
Size of category Low+: 3478
Mean one-day percentage change of category Low+: 0.00964549560834354
Size of category High+: 1083
Mean one-day percentage change of category High+: 0.04594933901776755